## Deliverable 3. Create a Travel Itinerary Map.

In [107]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [108]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,82.27,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,8,Hithadhoo,MV,82.04,broken clouds,-0.6000,73.0833,Scoop Guest House
2,28,Akhmeta,GE,79.32,scattered clouds,42.0311,45.2075,Hostel Kakheti
3,32,Aktau,KZ,79.38,scattered clouds,43.6500,51.2000,Silk Way Hotel
4,35,Kapaa,US,76.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel

In [109]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [110]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [133]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Washington"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Washington"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Brainerd"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Columbus"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Golden"]

In [134]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,136,Washington,US,82.29,overcast clouds,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."

In [135]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,136,Washington,US,82.29,overcast clouds,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."

In [136]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
179,559,Brainerd,US,79.05,clear sky,46.358,-94.2008,"Holiday Inn Express & Suites Brainerd-Baxter, ..."

In [137]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
123,381,Columbus,US,86.34,broken clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...

In [138]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
164,503,Golden,US,86.97,few clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"

In [139]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (47.5001, -120.5015), End: (47.5001, -120.5015)
Stop 1: (46.358, -94.2008), Stop 2: (39.9612, -82.9988), Stop 3: (39.7555, -105.2211)

In [140]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [141]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,136,Washington,US,82.29,overcast clouds,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."
1,559,Brainerd,US,79.05,clear sky,46.3580,-94.2008,"Holiday Inn Express & Suites Brainerd-Baxter, ..."
2,381,Columbus,US,86.34,broken clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
3,503,Golden,US,86.97,few clouds,39.7555,-105.2211,"The Golden Hotel, Ascend Hotel Collection"

In [142]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info1 = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations1 = itinerary_df[["Lat", "Lng"]]

In [143]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, 102.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations1, info_box_content=hotel_info1)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))